@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.bg-theme {
  background: linear-gradient(to right, #000428, #004e92);
}
.cart-icon {
  font-size: 1.5rem;
}
.hero-bg {
  height: 100vh;
  background: url("../images/clouds.png") repeat-x top center;
  background-size: contain;
  background-repeat: repeat;
  padding-bottom: 70px;
  padding-top: 70px;
  border: 20px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.aboutuscard {
  height: auto;
  max-height: 500px;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 21px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 10px 10px 21px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.5);
}
.aboutuscard .card-title {
  font-weight: bolder;
  letter-spacing: 2px;
}

@media only screen and (max-width: 600px) {
  .aboutuscard {
    margin: 10px 10px;
  }
}

.herotitle {
  font-size: 50px;
  font-weight: 900;
  background: linear-gradient(to right, #000428, #004e92);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typ {
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.nav-item {
  transition: 0.5 ease-in-out;
}
.nav-item:hover {
  background-color: skyblue;
  border-radius: 5%;
}

.wholeabout {
  height: 84.9vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wholeabout h1 {
  font-family: "Patua One", cursive;
}
